apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 3004        # cluster-internal port
      targetPort: 3004  # container port
      nodePort: 30004   # external NodePort (must be in 30000-32767 range)
  type: NodePort
